$size-8: 8px;
$size-16: 16px;
$size-24: 24px;
$size-32: 32px;
$size-40: 40px;
$size-48: 48px;
$size-56: 56px;
$size-64: 64px;
$size-72: 72px;
$size-80: 80px;
$size-88: 88px;
$size-96: 96px;
$size-104: 104px;
